<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">-->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css"/>
<link rel="stylesheet" href="/dataTables.bootstrap.css"/>
<link rel="stylesheet" href="/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css"/>

<script src="/jQuery-2.1.4.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
<script src="/jquery.dataTables.js"></script>
<script src="/dataTables.bootstrap.js"></script>
<script src="/jquery.spring-friendly.js"></script>

<script src="/handlebars-v4.0.5.js"></script>
<script src="/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>

<!--定義操作列按鈕模板-->
<script id="tpl" type="text/x-handlebars-template">
    {{#each func}}
    <button type="button" class="btn btn-{{this.type}} btn-sm" onclick="{{this.fn}}">{{this.name}}</button>
    {{/each}}
</script>
 
<script>
    var table;
    var editFlag = false;
    $(function () {
 
		$('#startDate').datetimepicker();
 
		var tpl = $("#tpl").html();
        //預編譯模板
		var template = Handlebars.compile(tpl);
 
		table = $('#example').DataTable({
			ajax: {
                url: "/all2"
			},
            serverSide: true,
            columns: [
                {"data": "staffId"},
				{"data": "name"},
                {"data": "position"},
                {"data": "salary"},
				{	"data": "startDate",
					render: function (data, type, row) {
						var regex=/-/gi;  // 不能寫成 regex="/book\d+/gi";
						return row.startDate=row.startDate.replace(regex,"/");
					}
				},
                {"data": "office"},
                {"data": "extn"},
                {"data": null}
            ],
            columnDefs: [
                { searchable: false, 
                  visible: false, 
                  targets: 0 },
                {
                    targets: 7,
                    render: function (a, b, c, d) {
                        var context =
                        {
                            func: [
                                {"name": "修改", "fn": "edit(\'" + c.staffId + "\',\'" + c.name + "\',\'" + c.position + "\',\'" + c.salary + "\',\'" + c.startDate + "\',\'" + c.office + "\',\'" + c.extn + "\')", "type": "primary"},
                                {"name": "刪除", "fn": "del(\'" + c.staffId + "\')", "type": "danger"}
                            ]
                        };
                        var html = template(context);
                        return html;
                    }
                }
 
            ],
            "language": {
                "lengthMenu": "_MENU_ 條記錄每頁",
                "zeroRecords": "沒有找到記錄",
                "info": "第 _PAGE_ 頁 ( 總共 _PAGES_ 頁 )",
                "infoEmpty": "無記錄",
                "infoFiltered": "(從 _MAX_ 條記錄過濾)",
				"search":"搜索:",
                "paginate": {
                    "previous": "上一頁",
                    "next": "下一頁"
                }
            },
            "dom": "<'row'<'col-xs-2'l><'#mytool.col-xs-4'><'col-xs-6'f>r>" +
                    "t" +
                    "<'row'<'col-xs-6'i><'col-xs-6'p>>",
            initComplete: function () {
                $("#mytool").append('<button id="datainit" type="button" class="btn btn-primary btn-sm">增加基礎數據</button>&nbsp');
                $("#mytool").append('<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">添加</button>');
				$("#mytool").append('<button type="button" class="btn btn-primary btn-sm" onclick="openAdd()">增加2</button>&nbsp');
                $("#datainit").on("click", initData);
            }
 
        });
 
		$('input.global_filter').on( 'keyup click', function () {
		    filterGlobal();
		} );
		
		$('input.column_filter').on( 'keyup', function () {
		    filterColumn( $(this).parents('tr').attr('data-column') );
		} );

        $("#save").click(add);

        $("#initData").click(initSingleData);
 
    });
 
	function filterGlobal () {
	    $('#example').DataTable().search(
	        $('#global_filter').val(),
	        $('#global_regex').prop('checked'),
	        $('#global_smart').prop('checked')
	    ).draw();
	}
	 
	function filterColumn ( i ) {
	    $('#example').DataTable().column( i ).search(
	        $('#col'+i+'_filter').val(),
	        $('#col'+i+'_regex').prop('checked'),
	        $('#col'+i+'_smart').prop('checked')
	    ).draw();
	}

    function openAdd() {
		clear();
		$("#staffId").val("").hide();
        $("#myModal").modal('show');
    }
    /**
     * 初始化基礎數據
     */
    function initData() {
        var flag = confirm("本功能將添加數據到數據庫，你確定要添加麼？");
        if (flag) {
            $.get("/objects.txt", function (data) {
                var jsondata = JSON.parse(data);
                $(jsondata.data).each(function (index, obj) {
                    ajax(obj);
                });
            });
        }
    }
 
    /**
     * 初始化基礎數據
     */
    function initSingleData() {
        $("#name").val("http://dt.thxopen.com");
        $("#position").val("ShiMen");
        $("#salary").val("1");
        $("#startDate").val("2015/04/01");
        $("#office").val("Home");
        $("#extn").val("001");
    }
 
    /**
     * 清除
     */
    function clear() {
	    $("#staffId").val("");
        $("#name").val("");
        $("#position").val("");
        $("#salary").val("");
        $("#startDate").val("");
        $("#office").val("");
        $("#extn").val("");
        editFlag = false;
    }
 
    /**
     * 添加數據
     **/
    function add() {
        var addJson = {
		    "staffId": $("#staffId").val(),
            "name": $("#name").val(),
            "position": $("#position").val(),
            "salary": $("#salary").val(),
            "startDate": $("#startDate").val(),
            "office": $("#office").val(),
            "extn": $("#extn").val()
        };
 
        ajax(addJson);
    }
 
    /**
     *編輯方法
     **/
    function edit(staffId,name,position,salary,startDate,office,extn) {
        console.log(name);
        editFlag = true;
        $("#myModalLabel").text("修改");
        $("#staffId").val(staffId).attr("disabled",true).show();
        $("#name").val(name);
        $("#position").val(position);
        $("#salary").val(salary);
        $("#startDate").val(startDate);
        $("#office").val(office);
        $("#extn").val(extn);
        $("#myModal").modal("show");
    }
 
    function ajax(obj) {
        var url ="/addData" ;
        if(editFlag){
            url = "/editData";
        }
        $.ajax({
            url:url ,
			type: 'POST',
            data: {
	 			"staffId":obj.staffId,
                "name": obj.name,
                "position": obj.position,
                "salary": obj.salary,
                "startDate": obj.startDate,
                "office": obj.office,
                "extn": obj.extn
            }, success: function (data) {
                table.ajax.reload();
                $("#myModal").modal("hide");
                $("#myModalLabel").text("新增");
                clear();
                console.log("結果" + data);
            }
        });
    }
 
 
    /**
     * 刪除數據
     * @param name
     */
    function del(staffId) {
        $.ajax({
            url: "/del",
            data: {
                "staffId": staffId
            }, success: function (data) {
                table.ajax.reload();
                console.log("刪除成功" + data);
            }
        });
    }
</script>

</head>
<body>

<div class="container">
	<table cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;">
        <thead>
            <tr>
                <th>Target</th>
                <th>Search text</th>
                <th>Treat as regex</th>
                <th>Use smart search</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filter_global">
                <td>Global search</td>
                <td align="center"><input type="text" class="global_filter" id="global_filter"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_regex"></td>
                <td align="center"><input type="checkbox" class="global_filter" id="global_smart" checked="checked"></td>
            </tr>
         
            <tr id="filter_col1" data-column="1">
                <td>Column - Name</td>
                <td align="center"><input type="text" class="column_filter" id="col1_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col1_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col1_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col2" data-column="2">
                <td>Column - Position</td>
                <td align="center"><input type="text" class="column_filter" id="col2_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col2_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col3" data-column="3">
                <td>Column - Salary</td>
                <td align="center"><input type="text" class="column_filter" id="col3_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col3_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col3_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col4" data-column="4">
                <td>Column - Start date</td>
                <td align="center"><input type="text" class="column_filter" id="col4_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col4_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col4_smart" checked="checked"></td>
            </tr>
            <tr id="filter_col5" data-column="5">
                <td>Column - Office</td>
                <td align="center"><input type="text" class="column_filter" id="col5_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col5_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col5_smart" checked="checked"></td>
            </tr>
           <tr id="filter_col6" data-column="6">
                <td>Column - Extn</td>
                <td align="center"><input type="text" class="column_filter" id="col6_filter"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col6_regex"></td>
                <td align="center"><input type="checkbox" class="column_filter" id="col6_smart" checked="checked"></td>
            </tr>
        </tbody>
    </table>

	<table id="example" class="table table-striped table-bordered">
		<thead>
			<tr>
			    <th>ID</th>
				<th>姓名</th>
				<th>地點</th>
				<th>薪水</th>
				<th>入職時間</th>
				<th>辦公地點</th>
				<th>編號</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody></tbody>
		<!-- tbody是必須的 -->
	</table>
</div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">新增</h4>
			</div>
			<div class="modal-body">
			    <div class="form-group">
					<input type="text" class="form-control" id="staffId" placeholder="Staff ID">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="name" placeholder="姓名">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="position" placeholder="位置">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="salary" placeholder="薪資">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="startDate" placeholder="時間" data-date-format="yyyy/mm/dd hh:ii">
				</div>
				
				<div class="form-group">
					<input type="text" class="form-control" id="office" placeholder="工作地點">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="extn" placeholder="編號">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" id="initData">添加模擬數據</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
				<button type="button" class="btn btn-primary" id="save">保存</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>